<!DOCTYPE html>
<html>
  <head>
    <title>BNASApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# bootstrap %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <%# bootstrap %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>   
  </body>
</html>
