<!DOCTYPE html>
<html>
  <head>
    <title>BNASApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# bootstrap %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/header" %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% if flash[:alert] %>
    <%= flash[:alert]%>
  <% end %>



    <%= yield %>
  <%= render "layouts/footer" %>
  <%# bootstrap %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>   
  </body>
</html>
